.Search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBox {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBox input[type="text"] {
  width: 600px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.searchBox input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
}

.searchBox input[type="submit"]:hover {
  background-color: #45a049;
}

.searchBox input[type="submit"]:focus {
  outline: none;
}

@media (max-width: 768px) {
  .searchBox {
    display: flex;
  }

  .searchBox input[type="text"] {
    width: 50%;
  }

  .searchBox input[type="submit"] {
    width: 20%;
  }
}
